<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Book Club</title>
        <link rel="stylesheet" href="./static/home/style.css">
    </head>
    <body>
        <nav role="navigation">
            <div id="menuToggle">
                <input type="checkbox">
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <hr>
                    <a href="/"><li>Home</li></a>
                    <a href="/api"><li>API Search</li></a>
                    <a href="/about"><li>About</li></a>
                </ul>
            </div>
        </nav>
        <div class="container">
            <input id="searchBar" class="searchbar" type="text" placeholder="Search...">
            <a id="btnSearch" class="btn-search"><i class="fa fa-search">➤</i></a>
        </div>
        <div class="title">
            <h1 style="color: tomato; text-shadow: 2px 2px 2px darkred">BOOK CLUB.</h1>
            <span>Welcome!</span>
        </div>
        <br><br><br>
        <div class="title">

            <span>
                POSTING 버튼을 눌러서<br>
                원하는 도서의 교보문고 URL을 입력하고<br>
                본인의 이름과 독후감을 작성해주세요<br><br>
                우측 상단의 검색 기능은<br>
                도서명, 작가명, 또는 작성자로 검색이 가능합니다.<br>
            </span>
            <br><br>
            <p>
                Kim Sung-ho<br>
                010-9218-9716<br>
                ksh_1035@naver.com<br>
            </p>
        </div>
    </body>
</html>
